
/* #region General */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg1: rgb(65, 144, 61);
        --bg2: rgb(91, 201, 85);
        --bg3: rgb(112, 251, 104);
        --bg4: rgb(176, 248, 172);
        --bg21: rgb(61, 97, 144);
        --bg22: rgb(85, 149, 201);
        --bg23: rgb(104, 170, 251);
        --bg24: rgb(172, 213, 248);
        --bord: 1px dashed rgb(5, 68, 5);
    }

    .debug1 {
        height: 50px;
    }

    .debug2 {
        height: 150px;
    }

    .container-flex {
        display: flex;
    }

    .std-dim {
        width: 80%;
        max-width: 1170px;
        margin: auto;
    }

/* #endregion General */

/* #region Header */

    header {
        background-color: var(--bg1);
    }

    nav {
        background-color: var(--bg2);
        justify-content: space-between;
        align-items: center;
    }

    .nav-item1 {
        width: 15%;
        height: 60%;
        background-color: var(--bg3);
        border: var(--bord);
    }

    .nav-item2 {
        width: 70%;
        height: 60%;
        background-color: var(--bg3);
        border: var(--bord);
    }

/* #endregion Header */

/* #region heroimg */

    .heroimg {
        background-color: var(--bg21);
        align-items: center;
    }

    .hero-cont {
        background-color: var(--bg22);
        height: 80%;
    }

/* #endregion heroimg */

/* #region sezione standard */

.sez-std {
    background-color: var(--bg1);
}

.container {
    background-color: var(--bg2);
    align-items: center;
}

.row {
    background-color: var(--bg3);
    align-items: center;
    width: 100%;
    height: 80%;
}

.col1 {
    background-color: var(--bg4);
    width: 60%;
    height: 80%;
    border: var(--bord)
}

.col2 {
    background-color: var(--bg4);
    width: 40%;
    height: 80%;
    border: var(--bord);
}

.card {
    border: var(--bord);
}

/* #endregion seione standard */





/* #region heroimg */


/* #endregion heroimg */

/* #region heroimg */


/* #endregion heroimg */