
/* #region General */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg1: rgb(65, 144, 61);
        --bg2: rgb(91, 201, 85);
        --bg3: rgb(112, 251, 104);
        --bg4: rgb(176, 248, 172);
        --bg21: rgb(61, 97, 144);
        --bg22: rgb(85, 149, 201);
        --bg23: rgb(104, 170, 251);
        --bg24: rgb(172, 213, 248);
        --bord: 1px dashed rgb(5, 68, 5);
    }

    .debug1 {
        height: 50px;
    }

    .debug2 {
        height: 150px;
    }

    .debug3 {
        height: 50px;
    }

/* #endregion General */

/* #region Header */

    header {
        background-color: var(--bg1);
    }

    nav {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item1 {
        width: 15%;
        height: 60%;
        background-color: var(--bg3);
        border: var(--bord);
    }

    .nav-item2 {
        width: 70%;
        height: 60%;
        background-color: var(--bg3);
        border: var(--bord);
    }

/* #endregion Header */

/* #region heroimg */

    .heroimg {
        background-color: var(--bg21);
        display: flex;
        align-items: center;
    }

    .hero-cont {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        height: 80%;
        background-color: var(--bg22);
    }

/* #endregion heroimg */

/* #region sezione 1 */

    .s1-sez-container {
        background-color: var(--bg1);
    }

    .s1-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
        align-items: center;
    }

    .s1-row {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        align-items: center;
        
    }

    .s1-col1 {
        width: 60%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .s1-col2 {
        width: 40%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .s1-card {
        border: var(--bord);
    }

/* #endregion sezione 1*/

/* #region sezione 2 */

    .s2-sez-container {
        background-color: var(--bg21);
    }

    .s2-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg22);
        display: flex;
        align-items: center;
    }

    .s2-row {
        width: 100%;
        height: 80%;
        background-color: var(--bg23);
        display: flex;
        align-items: center;
        
    }

    .s2-col1 {
        width: 60%;
        height: 80%;
        background-color: var(--bg24);
        border: var(--bord);
    }

    .s2-col2 {
        width: 40%;
        height: 80%;
        background-color: var(--bg24);
        border: var(--bord);
    }

    .s2-card {
        border: var(--bord);
    }

/* #endregion sezione 2  */

/* #region sezione 3 */

.s3-sez-container {
    background-color: var(--bg1);
}

.s3-container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
}

.s3-row {
    width: 100%;
    height: 80%;
    background-color: var(--bg3);
    display: flex;
    align-items: center;
    
}

.s3-col1 {
    width: 60%;
    height: 80%;
    background-color: var(--bg4);
    border: var(--bord);
}

.s3-col2 {
    width: 40%;
    height: 80%;
    background-color: var(--bg4);
    border: var(--bord);
}

.s3-card {
    border: var(--bord);
}

/* #endregion sezione 3 */

/* #region sezione 4 */

.s4-sez-container {
    background-color: var(--bg21);
}

.s4-container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    background-color: var(--bg22);
    display: flex;
    align-items: center;
}

/* #endregion sezione 4  */

/* #region footer */

    footer {
        background-color: var(--bg1);
    }

    .f-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
        align-items: center;
    }

    .f-row1 {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .f-col1 {
        width: 30%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .f-col2 {
        width: 15%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .f-container2 {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
    }

    .f-row2 {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .f-col3 {
        width: 20%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

/* #endregion footer */
